.env
.venv/
venv/
__pycache__/
*.pyc
.vscode/
agent-try/.env
llm-cookbook-main/
nanoGPT-master/
Reasearch/
agent-try\models\__pycache__\
.vscode/
agent-try\tools\__pycache__\
agent-try\service\__pycache__\
agent-try\models\prompts\__pycache__\
leetcode/
leetcode/erfen.py
leetcode/erfen1.py
leetcode/erfen2.py
leetcode/erfen3.py
langchain-learning/
src/mini_agent.egg-info
